.title {
  margin-top: 40px;
}
.components-wrappper {
  padding: 20px 10px 0;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}
.buttons, .buttons li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.buttons li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.code {
  margin-top: 30px;
}
.table {
  display: table;
  width: 100%;
}
.table th, td {
  text-align: center;
  word-break: keep-all;
}
.table tbody tr td:first-child {
  white-space: nowrap;
}
.divider {
  padding: 10px;
}
.icon-font {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}